{% extends "base.html" %}

{% block content %}
<!--<h5> Info about person:</h5>-->

    {% if persons %}
    <table class="customTable">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Идент. №</th>
            <th>Паспорт. серия</th>
            <th>Паспорт. №</th>
            <th>Дата рождения</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
        <tr>
            <td>
                {{ person.surname }}
            </td>
            <td>
                {{ person.f_name }}
            </td>
            <td>
                {{ person.s_name }}
            </td>
            <td>
                {{ person.p_ident_num }}
            </td>
            <td>
                {{ person.passport_seria }}
            </td>
            <td>
                {{ person.passport_num }}
            </td>
            <td>
                {{ person.birth_date }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2> Sorry, we cant find anything.</h2>
    {% endif %}

{% endblock %}