{% extends "base.html" %}

{% block content %}
<!--<h5> Info about person:</h5>-->

    {% if persons %}
    <table class="customTable">
        <thead>
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>Second Name</th>
            <th>Ident_num</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
        <tr>
            <td>
                {{ person.surname }}
            </td>
            <td>
                {{ person.f_name }}
            </td>
            <td>
                {{ person.s_name }}
            </td>
            <td>
                {{ person.p_ident_num }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2> Sorry, we cant find anything.</h2>
    {% endif %}

{% endblock %}